body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #edede9;
}

.container {
    margin: 0 50px;
}

header {
    margin-top: -20px;
    text-align: left;
    border-bottom: 1px solid #d6ccc2;
    margin-bottom: 20px;
}

header>h5 {
    margin-top: -10px;
}

main {
    margin: 0px;

}
.newbook {
    display:flex;
}
#newBook {
    margin: 10px auto;
    justify-content: center;
    height: 40px;
    width: 150px;
    font-size: large;
    background-color: #e3d5ca;
    cursor: pointer;
}

.card {
    padding: 10px;
    height: 280px;
    width: 200px;
    background-color: #d5bdaf;
    border: 1px solid #d6ccc2;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
    box-shadow: 2px 2px 7px #4f3923;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
}